<h1>Form</h1>

    <form [formGroup]="form" (ngSubmit)="process()">
        <table>
            <tr>
                <td>Title</td>
                <td>
                    <input type="text" name="title" formControlName="title">
                </td>
            </tr>
            <tr>
                <td>ISBN</td>
                <td>
                    <input type="text" name="isbn" formControlName="isbn">
                </td>
            </tr>
        </table>
        <button type="submit">Submit</button>
    </form>